@model IEnumerable<Prolimza.Models.Rol>

@{
    ViewData["Title"] = "Index";
}

<h1>Roles</h1>

@if (!User.IsInRole("Lector"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
    </p>
}

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>
                    @if (!User.IsInRole("Lector"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.IdRol" class="btn btn-sm btn-warning me-1">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.IdRol" class="btn btn-sm btn-danger me-1">Eliminar</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.IdRol" class="btn btn-sm btn-info">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
